<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.BedRecDao">
    <resultMap id="BedRecMapper" type="com.pojos.inpatient.BedRec">
        <id column="bed_rec_no" property="bedRecNo"/>
        <result column="bed_no" property="bedNo"/>
        <result column="bed_time" property="bedTime"/>
        <result column="res_no" property="resNo"/>
        <association property="bed" javaType="com.pojos.inpatient.Bed">
            <id column="bed_no" property="bedNo"/>
            <result column="bed_zt" property="bedZt"/>
            <result column="ward_no" property="wardNo"/>
            <result column="bed_number" property="bedNumber"/>
            <result column="res_no" property="resNo"/>
        </association>
        <association property="ward" javaType="com.pojos.inpatient.Ward">
            <id column="ward_no" property="wardNo"/>
            <result column="ward_name" property="wardName"/>
            <result column="ward_dress" property="wardDress"/>
            <result column="ward_zt" property="wardZt"/>
            <result column="ward_mon" property="wardMon"/>
        </association>
        <association property="hosAlone" javaType="com.pojos.inpatient.HosAlone">
            <id column="res_no" property="resNo"/>
            <result column="linkman" property="linkman"/>
            <result column="phone" property="phone"/>
            <result column="hos_no" property="hosNo"/>
            <result column="nurse" property="nurse"/>
            <result column="hos_stay" property="hosStay"/>
            <result column="pay_type" property="payType"/>
            <result column="hos_cond" property="hosCond"/>
            <result column="hos_money" property="hosMoney"/>
            <result column="hos_zt" property="hosZt"/>
            <association property="admNot" javaType="com.pojos.inpatient.AdmNot">
                <id column="hos_no" property="hosNo"/>
                <result column="patient" property="patient"/>
                <result column="section" property="section"/>
                <result column="doctor" property="doctor"/>
                <result column="result" property="result"/>
                <result column="dispose" property="dispose"/>
                <result column="adm_zt" property="admZt"/>
                <association property="medicalcard" javaType="com.pojos.outpatient.Medicalcard">
                    <id column="medi_no" property="mediNo"/>
                    <result column="medi_card" property="mediCard"/>
                    <result column="medi_password" property="mediPassword"/>
                    <result column="medi_balance" property="mediBalance"/>
                    <result column="medi_idcart" property="mediIdcart"/>
                    <result column="medi_patient_no" property="mediPatientNo"/>
                    <result column="medi_newdate" property="mediNewdate"/>
                    <result column="medi_state" property="mediState"/>
                </association>
                <association property="pat" javaType="com.pojos.outpatient.Patient">
                    <id column="patient_no" property="patientNo"/>
                    <result column="patient_name" property="patientName"/>
                    <result column="patient_sex" property="patientSex"/>
                    <result column="patient_phone" property="patientPhone"/>
                    <result column="patient_idcart" property="patientIdcart"/>
                    <result column="patient_age" property="patientAge"/>
                    <result column="patient_birthdate" property="patientBirthdate"/>
                    <result column="" property="patientAddress"/>
                    <result column="patient_date" property="patientDate"/>
                </association>
            </association>
        </association>

    </resultMap>
    <insert id="addBedRec">
        insert into bed_rec(bed_no,res_no) values(#{bedNo},#{resNo})
    </insert>
    <select id="selBedRec" resultMap="BedRecMapper">
        select * from bed_rec br
                  INNER JOIN bed b on br.bed_no =b.bed_no
                  INNER JOIN ward w on w.ward_no=b.ward_no
                  INNER JOIN hos_alone h on br.res_no = h.res_no
                  inner join adm_not a on h.hos_no=a.hos_no
                  inner join medicalcard m on a.patient = m.medi_no
                  inner join patient p on m.medi_patient_no=p.patient_no
        <if test="name!='' and name!=null">
            and p.patient_name like '%${name}%'
        </if>
        <if test="wardName!='' and wardName!=null">
            and w.ward_name like '%${wardName}%'
        </if>
        <if test="bedTime1!=''">
            and bed_time between #{bedTime1} and #{bedTime2}
        </if>
    </select>
</mapper>