<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.ConsAppDao">
    <resultMap id="ConsAppMapper" type="com.pojos.inpatient.ConsApp">
        <id column="con_no" property="conNo"/>
        <result column="res_no" property="resNo"/>
        <result column="ope_no" property="opeNo"/>
        <result column="sur_no" property="surNo"/>
        <result column="con_per" property="conPer"/>
        <result column="con_zt" property="conZt"/>
        <result column="con_star" property="conStar"/>
        <result column="ope_doc" property="opeDoc"/>
        <result column="ope_nar" property="opeNar"/>
        <result column="ope_rust" property="opeRust"/>
        <result column="con_sp" property="conSp"/>
        <result column="con_time_star" property="conTimeStar"/>
        <result column="con_time_end" property="conTimeEnd"/>
        <association property="surItem" javaType="com.pojos.inpatient.SurItem">
            <id column="sur_no" property="surNo"/>
            <result column="sur_name" property="surName"/>
            <result column="sur_type" property="surType"/>
            <result column="sur_pay" property="surPay"/>
            <result column="sur_sco" property="surSco"/>
        </association>
        <association property="patient" javaType="com.pojos.outpatient.Patient">
            <result column="patient_name" property="patientName"/>
        </association>
        <association property="opeRoom" javaType="com.pojos.inpatient.OpeRoom">
            <result column="ope_name" property="opeName"/>
        </association>
        <association property="yg" javaType="com.pojos.system.YuanGo">
            <result column="yg_name" property="ygName"/>
        </association>
        <association property="yg2" javaType="com.pojos.system.YuanGo">
            <result column="yg_name2" property="ygName"/>
        </association>
        <association property="yg3" javaType="com.pojos.system.YuanGo">
            <result column="yg_name3" property="ygName"/>
        </association>
    </resultMap>
    <insert id="addConsApp">
        insert into cons_app(res_no,sur_no,con_per,con_star) values(#{resNo},#{surNo},#{conPer},#{conStar})
    </insert>
<!--查询手术申请单   -->
    <select id="selConsApp" resultMap="ConsAppMapper">
        SELECT *,y2.yg_name as yg_name2,y3.yg_name as yg_name3 from cons_app c
          INNER JOIN sur_item s on c.sur_no=s.sur_no
          INNER JOIN hos_alone h on c.res_no=h.res_no
          inner join adm_not a on h.hos_no=a.hos_no
          inner join medicalcard m on a.patient = m.medi_no
          inner join patient p on m.medi_patient_no=p.patient_no
          inner join yuan_go y on c.con_per=y.yg_id
          left join ope_room o on o.ope_no=c.ope_no
          left join yuan_go y2 on c.ope_doc=y2.yg_id
          left join yuan_go y3 on c.ope_nar=y3.yg_id
        where 1=1
        <if test="surName!=''">
            and s.sur_name='%${surName}%'
        </if>
        <if test="name!=null and name!=''">
            and p.patient_name like '%${name}%'
        </if>
        <if test="conZt!='' and conZt!=4">
            and c.con_zt=#{conZt}
        </if>
        <if test="conZt==4">
            and (c.con_zt=3 or c.con_zt=4)
        </if>
    </select>

    <!--根据住院单号查询手术申请单-->
    <select id="selConsAppByResNo" resultMap="ConsAppMapper">
        SELECT *,y2.yg_name as yg_name2,y3.yg_name as yg_name3 from cons_app c
        INNER JOIN sur_item s on c.sur_no=s.sur_no
        INNER JOIN hos_alone h on c.res_no=h.res_no
        inner join adm_not a on h.hos_no=a.hos_no
        inner join medicalcard m on a.patient = m.medi_no
        inner join patient p on m.medi_patient_no=p.patient_no
        inner join yuan_go y on c.con_per=y.yg_id
        left join ope_room o on o.ope_no=c.ope_no
        left join yuan_go y2 on c.ope_doc=y2.yg_id
        left join yuan_go y3 on c.ope_nar=y3.yg_id
        where c.res_no=#{resNo}

    </select>

    <!--修改手术申请单状态-->
    <update id="changeCons">
        update cons_app
        <set>
            <if test="opeDoc!=''">
                ope_doc=#{opeDoc},
            </if>
            <if test="conSp!=''">
                con_sp=#{conSp},
            </if>
            <if test="conZt!=''">
                con_zt=#{conZt},
            </if>
            <if test="opeNo!=''">
                ope_no=#{opeNo},
            </if>
            <if test="opeNar!=''">
                ope_nar=#{opeNar},
            </if>
            <if test="opeRust!=''">
                ope_rust=#{opeRust},
            </if>
            <if test="conTimeStar!=null">
                con_time_star=#{conTimeStar},
            </if>
            <if test="conTimeEnd!=null">
                con_time_end=#{conTimeEnd}
            </if>
        </set>
         where con_no=#{conNo}
    </update>
    <!--查询手术申请单中的手术项目-->
    <select id="selConsBySurNo" resultMap="ConsAppMapper">
        select * from cons_app c
        inner join sur_item s on c.sur_no=s.sur_no
        where c.sur_no=#{SurNo}
    </select>
</mapper>
