<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.ConsAppDao">
    <resultMap id="ConsAppMapper" type="com.pojos.inpatient.ConsApp">
        <id column="con_no" property="conNo"/>
        <result column="res_no" property="resNo"/>
        <result column="ope_no" property="opeNo"/>
        <result column="sur_no" property="surNo"/>
        <result column="con_per" property="conPer"/>
        <result column="con_zt" property="conZt"/>
        <result column="con_star" property="conStar"/>
        <result column="ope_doc" property="opeDoc"/>
        <result column="ope_rust" property="opeRust"/>
        <result column="con_sp" property="conSp"/>
        <association property="surItem" javaType="com.pojos.inpatient.SurItem">
            <id column="sur_no" property="surNo"/>
            <result column="sur_name" property="surName"/>
            <result column="sur_type" property="surType"/>
            <result column="sur_pay" property="surPay"/>
            <result column="sur_sco" property="surSco"/>
        </association>
        <association property="patient" javaType="com.pojos.outpatient.Patient">
            <result column="patient_name" property="patientName"/>
        </association>
        <association property="yg" javaType="com.pojos.system.YuanGo">
            <result column="yg_name" property="ygName"/>
        </association>
    </resultMap>
    <insert id="addConsApp">
        insert into cons_app(res_no,sur_no,con_per,con_star) values(#{resNo},#{surNo},#{conPer},#{conStar})
    </insert>
    <select id="selConsApp" resultMap="ConsAppMapper">
        SELECT * from cons_app c
                          INNER JOIN sur_item s on c.sur_no=s.sur_no
                          INNER JOIN hos_alone h on c.res_no=h.res_no
                          inner join adm_not a on h.hos_no=a.hos_no
                          inner join medicalcard m on a.patient = m.medi_no
                          inner join patient p on m.medi_patient_no=p.patient_no
                          inner join yuan_go y on c.con_per=y.yg_id
        where 1=1
        <if test="resNo!=''">
            and c.res_no=#{resNo}
        </if>
    </select>
    <!--修改手术申请单状态-->
    <update id="changeCons">
        update cons_app
        <set>
            <if test="opeDoc!=''">
                ope_doc=#{opeDoc},
            </if>
            <if test="conSp!=''">
                con_sp=#{conSp},
            </if>
            <if test="conZt!=''">
                con_zt=#{conZt},
            </if>
            <if test="opeNo!=''">
                ope_no=#{opeNo}
            </if>
            <if test="opeRust!=''">
                ope_rust=#{opeRust}
            </if>
        </set>
         where con_no=#{conNo}
    </update>
</mapper>
