<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.DocAdvDao">
    <resultMap id="DocAdvMappper" type="com.pojos.inpatient.DocAdv">
        <id column="doc_adv_no" property="docAdvNo"/>
        <result column="res_no" property="resNo"/>
        <result column="doc_per" property="docPer"/>
        <result column="doc_adtime" property="docAdtime"/>
        <result column="doc_type" property="docType"/>
        <result column="doc_txt" property="docTxt"/>
        <result column="doc_end" property="docEnd"/>
        <association property="yuanGo" javaType="com.pojos.system.YuanGo">
            <result column="yg_name" property="ygName"/>
        </association>
    </resultMap>
    <!--新增医嘱-->
    <insert id="addDocAdv">
        insert into doc_adv(res_no,doc_per,doc_type,doc_txt) values(#{resNo},#{docPer},#{docType},#{docTxt})
        <selectKey keyProperty="docAdvNo" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--查看医嘱-->
    <select id="selDocAdv" resultMap="DocAdvMappper">
        select * from doc_adv d
        inner join yuan_go y on d.doc_per=y.yg_id where res_no=#{param}
    </select>
    <!--停止医嘱    -->
    <update id="stopAdv">
        update doc_adv set doc_end=date_sub(curdate(),interval - 1 day) where doc_adv_no=#{docAdvNo}
    </update>
</mapper>
