<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.DocExeDao">
    <resultMap id="DocExeMapper" type="com.pojos.inpatient.DocExe">
        <id column="doc_exe_no" property="docExeNo"/>
        <result column="doc_adv_id" property="docAdvId"/>
        <result column="doc_time" property="docTime"/>
        <result column="doc_nur" property="docNur"/>
        <association property="yaoPingXx" javaType="com.pojos.pharmacy.YaoPingXx">
            <id column="DRUG_ID" property="drugId" />
            <result column="DRUG_NAME" property="drugName"/>
            <result column="DRUG_PYM" property="drugPym" />
            <result column="DRUG_TYPE_ID" property="drugTypeId" />
            <result column="DRUG_SORT_ID" property="drugSortId" />
            <result column="DRUG_SPEC_ID"  property="drugSpecId" />
            <result column="DRUG_JINJIA" property="drugJinjia" />
            <result column="DRUG_SHOUJIA" property="drugShoujia" />
            <result column="DRUG_RIQI" property="drugRiqi" />
            <result column="DRUG_MATR" property="drugMatr" />
            <result column="SUPPLY_ID"  property="supplyId" />
            <result column="DRUG_CLASS" property="drugClass" />
            <result column="DRUG_STATE" property="drugState" />
            <result column="DRUG_MESSAGE" property="drugMessage" />
            <result column="DRUG_GRAIN" property="drugGrain"/>
        </association>
        <association property="docAdvXq" javaType="com.pojos.inpatient.DocAdvXq">
            <id column="doc_adv_id" property="docAdvId"/>
            <result column="doc_adv_no" property="docAdvNo"/>
            <result column="drug_id" property="drugId"/>
            <result column="drug_number" property="drugNumber"/>
            <result column="doc_fre" property="docFre"/>
            <result column="doc_stat" property="docStat"/>
            <result column="doc_end" property="docEnd"/>
            <result column="doc_yz" property="docYz"/>
            <result column="doc_zt" property="docZt"/>
        </association>
    </resultMap>
    <!--新增执行医嘱-->
    <insert id="addDocExe">
        insert into doc_exe(doc_adv_id,doc_time)values (#{param},CURDATE())
    </insert>
    <!--查看医嘱-->

    <select id="selDocExe" resultMap="DocExeMapper">
        select * from doc_exe de
         inner join doc_adv_xq da on de.doc_adv_id=da.doc_adv_id
         inner join yao_ping_xx yx on da.drug_id=yx.drug_id
         inner join doc_adv d on d.doc_adv_no=da.doc_adv_no
         where d.res_no=#{param}
        <if test="type==0">
            and d.doc_type=0 and de.doc_time=CURDATE()
        </if>
        <if test="type!=0">
            and d.doc_type=1
        </if>
    </select>
    <!--查看是否有今天的医嘱-->
    <select id="nowDocExe" resultMap="DocExeMapper">
        select * from doc_exe where doc_adv_id=#{param} and doc_time>=CURDATE()
    </select>
    <!--修改今天医嘱为已执行-->
    <update id="upDateDocExe">
        update doc_exe set doc_nur='李云' where doc_exe_no=#{docExeNo}
    </update>
</mapper>