<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.HosAloneDao">
    <resultMap id="HosAloneMapper" type="com.pojos.inpatient.HosAlone">
        <id column="res_no" property="resNo"/>
        <result column="linkman" property="linkman"/>
        <result column="phone" property="phone"/>
        <result column="hos_no" property="hosNo"/>
        <result column="nurse" property="nurse"/>
        <result column="hos_stay" property="hosStay"/>
        <result column="pay_type" property="payType"/>
        <result column="hos_cond" property="hosCond"/>
        <result column="hos_money" property="hosMoney"/>
        <result column="hos_zt" property="hosZt"/>
        <association property="admNot" javaType="com.pojos.inpatient.AdmNot">
            <id column="hos_no" property="hosNo"/>
            <result column="patient" property="patient"/>
            <result column="section" property="section"/>
            <result column="doctor" property="doctor"/>
            <result column="result" property="result"/>
            <result column="dispose" property="dispose"/>
            <result column="adm_zt" property="admZt"/>
            <association property="medicalcard" javaType="com.pojos.outpatient.Medicalcard">
                <id column="medi_no" property="mediNo"/>
                <result column="medi_card" property="mediCard"/>
                <result column="medi_password" property="mediPassword"/>
                <result column="medi_balance" property="mediBalance"/>
                <result column="medi_idcart" property="mediIdcart"/>
                <result column="medi_patient_no" property="mediPatientNo"/>
                <result column="medi_newdate" property="mediNewdate"/>
                <result column="medi_state" property="mediState"/>
            </association>
            <association property="pat" javaType="com.pojos.outpatient.Patient">
                <id column="patient_no" property="patientNo"/>
                <result column="patient_name" property="patientName"/>
                <result column="patient_sex" property="patientSex"/>
                <result column="patient_phone" property="patientPhone"/>
                <result column="patient_idcart" property="patientIdcart"/>
                <result column="patient_age" property="patientAge"/>
                <result column="patient_birthdate" property="patientBirthdate"/>
                <result column="patient_address" property="patientAddress"/>
                <result column="patient_date" property="patientDate"/>
            </association>
            <association property="yg" javaType="com.pojos.system.YuanGo">
                <id column="yg_id" jdbcType="INTEGER" property="ygId" />
                <result column="yg_name" jdbcType="VARCHAR" property="ygName" />
            </association>
            <association property="ks" javaType="com.pojos.system.KeShi">
                <id column="ks_id" property="ksId"/>
                <result column="kname"  property="ksName"/>
            </association>
        </association>
    </resultMap>
    <!--查询所有住院单-->
    <select id="allHos" resultMap="HosAloneMapper">
        select *,k.ks_name as kname from hos_alone h
        inner join adm_not a on h.hos_no=a.hos_no
        inner join medicalcard m on a.patient = m.medi_no
        inner join patient p on m.medi_patient_no=p.patient_no
        inner join yuan_go y on y.yg_id=h.hos_cond
        inner join ke_shi k on k.ks_id=h.pay_type
        where h.hos_zt='0'
        <if test="param!=null and param!=''">
            and (p.patient_name like '%${param}%' or h.res_no like '%${param}%')
        </if>
        order by h.hos_stay desc
    </select>
    <!--多条件查询住院单-->
    <select id="selHosByAll" resultMap="HosAloneMapper">
        select *,k.ks_name as kname from hos_alone h
        inner join adm_not a on h.hos_no=a.hos_no
        inner join medicalcard m on a.patient = m.medi_no
        inner join patient p on m.medi_patient_no=p.patient_no
        inner join yuan_go y on y.yg_id=h.hos_cond
        inner join ke_shi k on k.ks_id=h.pay_type
        where h.hos_zt='0'
        <if test="name!=null and name!=''">
            and p.patient_name like '%${name}%'
        </if>
        <if test="idcart!=null and idcart!=''">
            and p.patient_idcart like '%${idcart}%'
        </if>
        <if test="resNo!=null and resNo!=''">
            and res_no like '%${resNo}%'
        </if>
        <if test="hosStay1!=null and hosStay1!=''">
            and hos_stay between #{hosStay1} and #{hosStay2}
        </if>
        <if test="ksId!=null and ksId!=''">
            and k.ks_id = #{ksId}
        </if>
        order by h.hos_stay desc
    </select>
    <!--查询所有住院单-->
    <select id="selHosByZt" resultMap="HosAloneMapper">
        select *,k.ks_name as kname from hos_alone h
         inner join adm_not a on h.hos_no=a.hos_no
         inner join medicalcard m on a.patient = m.medi_no
         inner join patient p on m.medi_patient_no=p.patient_no
         inner join yuan_go y on y.yg_id=h.hos_cond
         inner join ke_shi k on k.ks_id=h.pay_type
        <if test="name!=null and name!=''">
            and p.patient_name like '%${name}%'
        </if>
        <if test="resNo!=null and resNo!=''">
            and res_no like '%${resNo}%'
        </if>
        <if test="mediCard!=null and mediCard!=''">
            and m.medi_card like '%${mediCard}%'
        </if>
    </select>
    <!--查询住院单根据住院号 -->
    <select id="allHos2" resultMap="HosAloneMapper">
        select * from hos_alone h inner join adm_not a on h.hos_no=a.hos_no inner join medicalcard m on a.patient = m.medi_no inner join patient p on m.medi_patient_no=p.patient_no
        where h.res_no = #{param}
    </select>

    <!--查询住院单根据住院号 -->
    <select id="allHos3" resultMap="HosAloneMapper">
        select * from hos_alone h inner join adm_not a on h.hos_no=a.hos_no inner join medicalcard m on a.patient = m.medi_no inner join patient p on m.medi_patient_no=p.patient_no
        where h.hos_zt='0' and m.medi_card = #{param}
    </select>

    <!--新增住院单-->
    <insert id="addHos" parameterType="com.pojos.inpatient.HosAlone">
        insert into hos_alone(linkman,phone,hos_no,nurse,hos_money,hos_zt,pay_type,hos_cond)
        values(#{linkman},#{phone},#{hosNo},#{nurse},#{hosMoney},'0',#{payType},#{hosCond})
    </insert>
    <!--修改住院单状态-->
    <update id="changeHos">
        update hos_alone set hos_zt=1 where res_no=#{param}
    </update>
    <!--查看住院单根据诊疗卡编号-->
    <select id="selByPatient" resultMap="HosAloneMapper">
        select * from hos_alone h
          inner join adm_not a on h.hos_no=a.hos_no
          inner join medicalcard m on a.patient = m.medi_no
          inner join patient p on m.medi_patient_no=p.patient_no
          inner join yuan_go y on y.yg_id=h.hos_cond
          inner join ke_shi k on k.ks_id=h.pay_type
        where h.hos_zt='0'and m.medi_no=#{param}
    </select>
</mapper>

