<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.SurDrugDao">
    <resultMap id="SurDrugMappler" type="com.pojos.inpatient.SurDrug">
        <id column="sur_drug_no" property="surDrugNo"/>
        <result column="sur_no" property="surNo"/>
        <result column="drug_id" property="drugId"/>
        <result column="drug_number" property="drugNumber"/>
        <association property="yaoPingXx" javaType="com.pojos.pharmacy.YaoPingXx">
            <id column="DRUG_ID" property="drugId" />
            <result column="DRUG_NAME" property="drugName" />
            <result column="DRUG_PYM" property="drugPym" />
            <result column="DRUG_TYPE_ID" property="drugTypeId" />
            <result column="DRUG_SORT_ID" property="drugSortId" />
            <result column="DRUG_SPEC_ID"  property="drugSpecId" />
            <result column="DRUG_JINJIA" property="drugJinjia" />
            <result column="DRUG_SHOUJIA" property="drugShoujia" />
            <result column="DRUG_RIQI" property="drugRiqi" />
            <result column="DRUG_MATR" property="drugMatr" />
            <result column="SUPPLY_ID"  property="supplyId" />
            <result column="DRUG_CLASS" property="drugClass" />
            <result column="DRUG_STATE" property="drugState" />
            <result column="DRUG_MESSAGE" property="drugMessage" />
        </association>
     </resultMap>
    <!--新增手术药品-->
    <insert id="addSurDrug">
        insert into sur_drug(sur_no,drug_id,drug_number) values (#{surNo},#{drugId},#{drugNumber})
    </insert>
    <!--删除手术药品-->
    <delete id="delSurDrug">
        delete from sur_drug where sur_no=#{param}
    </delete>
    <!--查看手术药品-->
    <select id="selSurDrug" resultMap="SurDrugMappler">
        select * from sur_drug s inner join yao_ping_xx y on s.drug_id=y.drug_id where s.sur_no=#{param}
    </select>
</mapper>