<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.SurItemDao">
    <resultMap id="SurItemMapper" type="com.pojos.inpatient.SurItem">
        <id column="sur_no" property="surNo"/>
        <result column="sur_name" property="surName"/>
        <result column="sur_type" property="surType"/>
        <result column="sur_pay" property="surPay"/>
        <result column="sur_sco" property="surSco"/>
        <association property="ks" javaType="com.pojos.system.KeShi">
            <id column="ks_id" property="ksId"/>
            <result column="ks_name" property="ksName"/>
        </association>
    </resultMap>
    <!--新增手术项目-->
    <insert id="addSur">
        insert into sur_item(sur_name,sur_type,sur_pay,sur_sco) values (#{surName},#{surType},#{surPay},#{surSco})
        <selectKey keyProperty="surNo" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--查看手术项目-->
    <select id="selSur" resultMap="SurItemMapper">
        select * from sur_item s
            inner join ke_shi k on k.ks_id=s.sur_type
        where 1=1
        <if test="param!='' and param!=null">
            and surName like '%${param}'
        </if>
        <if test="ksId!='' and ksId!=null">
            and sur_type=#{ksId}
        </if>
        <if test="surNo!='' and surNo!=null">
            and sur_no=#{surNo}
        </if>
    </select>
    <!--修改手术项目-->
    <update id="upDateSur">
        update sur_item
        <set>
            <if test="surName!=''">
                sur_name=#{surName},
            </if>
            <if test="surPay!=''">
                sur_pay=#{surPay},
            </if>
            <if test="surSco!=''">
                sur_sco=#{surSco},
            </if>
            <if test="surType!=''">
                sur_type=#{surType}
            </if>
        </set>
        where sur_no=#{surNo}
    </update>
</mapper>