<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.SurItemDao">
    <resultMap id="SurItemMapper" type="com.pojos.inpatient.SurItem">
        <id column="sur_no" property="surNo"/>
        <result column="sur_name" property="surName"/>
        <result column="sur_txt" property="surTxt"/>
        <result column="sur_pay" property="surPay"/>
        <result column="ope_no" property="opeNo"/>
        <association property="opeRoom" javaType="com.pojos.inpatient.OpeRoom">
            <id column="ope_no" property="opeNo"/>
            <result column="ope_name" property="opeName"/>
            <result column="ope_dress" property="opeDress"/>
            <result column="ope_ks" property="opeKs"/>
            <result column="ope_zt" property="opeZt"/>
        </association>
    </resultMap>
    <!--新增手术项目-->
    <insert id="addSur">
        insert into sur_item(sur_name,sur_txt,sur_pay,ope_no) values (#{surName},#{surTxt},#{surPay},#{opeNo})
        <selectKey keyProperty="surNo" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--查看手术项目-->
    <select id="selSur" resultMap="SurItemMapper">
        select * from sur_item
    </select>
    <!--修改手术项目-->
    <update id="upDateSur">
        update sur_item
        <set>
            <if test="surName!=''">
                sur_name=#{surName},
            </if>
            <if test="surPay!=''">
                sur_pay=#{surPay},
            </if>
        </set>
        where sur_no=#{surNo}
    </update>
</mapper>