<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.WardRecDao">
    <resultMap id="WardRecMapper" type="com.pojos.inpatient.WardRec">
        <id column="ward_rec_no" property="wardRecNo"/>
        <result column="ward_no" property="wardNo"/>
        <result column="ward_time" property="wardTime"/>
        <result column="rec_type" property="recType"/>
        <result column="rec_reson" property="recReson"/>
        <association property="ward" javaType="com.pojos.inpatient.Ward">
            <id column="ward_no" property="wardNo"/>
            <result column="ward_name" property="wardName"/>
            <result column="ward_dress" property="wardDress"/>
            <result column="ward_zt" property="wardZt"/>
            <result column="ward_mon" property="wardMon"/>
            <result column="ks_id" property="ksId"/>
        </association>
    </resultMap>
    <!--新增病房操作记录-->
    <insert id="addWardRec">
        insert into ward_rec(ward_no,rec_type,rec_reson) values (#{wardNo},#{recType},#{recReson})
    </insert>
    <!--查询病房操作记录-->
    <select id="selWardRec" resultMap="WardRecMapper">
        select * from ward_rec wr INNER JOIN ward w on wr.ward_no=w.ward_no
        <if test="wardName!='' and wardName!=null">
            and w.ward_name like '%${wardName}%'
        </if>
        <if test="wardCzTime1!=''">
            and ward_time between #{wardCzTime1} and #{wardCzTime2}
        </if>
        <if test="czType==1">
            and rec_type ='停用'
        </if>
        <if test="czType==2">
            and rec_type ='启用'
        </if>
        ORDER BY wr.ward_time desc
    </select>
</mapper>