<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.dao.inpatient.WardDao">
    <resultMap id="WardMapper" type="com.pojos.inpatient.Ward">
        <id column="ward_no" property="wardNo"/>
        <result column="ward_name" property="wardName"/>
        <result column="ward_dress" property="wardDress"/>
        <result column="ward_zt" property="wardZt"/>
        <result column="ward_mon" property="wardMon"/>
        <result column="ks_id" property="ksId"/>
        <association property="ks" javaType="com.pojos.system.KeShi">
            <id column="ks_id" property="ksId"/>
            <result column="ks_name" property="ksName"/>
        </association>
    </resultMap>
    <!--查看病房表-->
    <select id="selWard" resultMap="WardMapper">
        select * from ward w
        inner join  ke_shi k on k.ks_id=w.ks_id
        where 1=1
        <if test="param!=null and param!=''">
            and (ward_name like '%${param}%')
        </if>
    </select>
    <insert id="addWard" parameterType="com.pojos.inpatient.Ward">
        insert into ward(ward_name,ward_dress,ward_mon,ks_id) values(#{wardName},#{wardDress},#{wardMon},#{ksId})
    </insert>
    <!--修改病房-->
    <update id="updateWard">
        update ward
        <set>
            <if test="wardName!=''">
                ward_name=#{wardName},
            </if>
            <if test="wardDress!=''">
                ward_dress=#{wardDress},
            </if>
            <if test="ksId!=''">
                ks_id=#{ksId},
            </if>
            <if test="wardZt!=''">
                ward_zt=#{wardZt},
            </if>
            <if test="wardMon!=''">
                ward_mon=#{wardMon},
            </if>
        </set>
        where ward_no=#{wardNo}
    </update>
    <!--按名称查看病房-->
    <select id="selWardByName" resultMap="WardMapper">
        select * from ward where ward_name= #{param}
    </select>
</mapper>